@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Heraklitos</h1>
    <div class="container">
        <div class="row">
            <div class="col-sm-4 bg-light text-black">
                <div class="col">Sıcaklık:</div>
                <div class="col">Batarya:</div>
                <div class="col">Hız:</div>
                <div class="col">Yük Bilgisi:</div>
                <button type="button" class="btn btn-danger">Acil Dur Butonu</button>
            </div>
            <div class="col-sm-4 bg-secondary text-black">
                <div class="col">Ön Kamera:</div>
                <div class="col">Arka Kamera:</div>
            </div>
            <div class="col-sm-4 bg-light text-black">
                <div class="col">Süre:</div>
                <div class="col">Son Okunan QR:</div>
            </div>
        </div>
    </div>
</div>

